
{% load static %}

<htmL>
    <title>
        Registration
    </title>
    <head>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">  
        <link rel="stylesheet" href="{% static 'registration.css' %}">
    </head>
        {% block content %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<h1 class="text" style="color:#fff">Register</h1>
<br> 
    
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="{% url 'user_register' %}" method='POST'> 
            {% csrf_token %}
			<h1>Create Account</h1>
            <br>

			{{form.username}}
			{{form.first_name}}
			{{form.last_name}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}
            
            <br>
			<button type="submit" class="btn btn-primary btn-block">Sign Up</button>
		</form>
	</div>


	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
                <a class="ghost" style="color:#fff; font-size:26px;  font-family:Times New Roman, Times, serif ;text-decoration:underline; 
                "href="{% url 'user_login' %}">Login</a>
			</div>
		</div>
	</div>
</div>
</form>

    
<script>
    var form_fields = document.getElementsByTagName('input')

    form_fields[1].placeholder='Username';
    form_fields[2].placeholder='First Name';
    form_fields[3].placeholder='Last Name';
    form_fields[4].placeholder='Email';
    form_fields[5].placeholder='Password';
    form_fields[6].placeholder='Confirm Password';
</script>
{% endblock content %}
</html>